/*Detailing the styling for the body part of the page */
body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
}


/*Detailing the styling for the h1 elements of the page */
h1 {
  font-size: 4em;
  font-weight: 900;
}


/*Detailing the styling for the h3 elements of the page */
h3 {
  font-size: 1.5em;
}


/*Detailing the styling for the caption under the picture */
figcaption {
  color: #808080;
}


/*Detailing the styling for the paragraph elements of the page */
p {
  font-size: 1.3em;
  line-height: 1.5;
  margin-bottom: 20px;
}


/*Detailing the styling for the list elements of the page */
ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #4253fc;
  font-weight: 900;
}

a:hover {
  background-color: #ffffff;
}


/*Detailing the styling for navigation bar of the page */
nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}


/*Detailing the styling for the logo of the page */
.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}


/*Detailing the padding for the article element of the page */
article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
